<div class="row-fluid">
	<div class="span6 offset3">
		<h4>New Course </h4>
	</div>
</div>
<%= render 'form' %>

<div class="row-fluid">
	<div class="span6 offset3">
		<%= link_to ' Back', "/", :class=>'btn icon-backward' %>

	</div>
</div>
