<% flash.each do |name, msg| %>
  <% if name != :timedout %>
    <% if !msg.is_a?(Array) %>
      <%  msg = [msg] %>
    <% end %>
    <% msg.each do |m| %>
      <% if m.is_a?(String) %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, m, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>